<p>
  <b>Project:</b>
  <%=h @problem.project_id %>
</p>

<p>
  <b>Problem:</b>
  <%=h @problem.problem_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @problem.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @problem.description %>
</p>

<%= render :partial=>"problems_list", :locals=>{ :podproblems=>@problem.problems } %>
<%= render :partial=>"new_problem", :locals=>{ :podproblem=> Problem.new( :problem_id=> @problem.id ) } %>


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', projects_path %>